# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Backend
backend/.gradle/
backend/build/
backend/bin/
*.log

# Frontend
frontend/node_modules/
frontend/dist/

# Environment
.env
.env.*
!.env.example
frontend/.env


# 개인 작업 메모
docs/TODO.md
